fastapi==0.115.4
uvicorn==0.22.0
pydantic==2.9.2
yfinance==0.2.49
matplotlib==3.9.2
aiofiles==23.1.0
python-multipart==0.0.17
httpx==0.24.1
pandas==2.2.3
numpy==2.0.2
certifi==2024.8.30
pytz==2024.2
six==1.16.0
scipy==1.14.1
fastapi-middleware-cors==0.1.0
